.col-md-8{
    float: left;
}
.container-contact .col-md-4{
    float: left;
}

.bullet{
    list-style-type: none;

}
.designing-container{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.designing-container h2{
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
}
.designing-container h4{
    font-family: 'Quicksand', sans-serif;
    color: black;

}